<html>
	<head>
		<title>Folder <span th:text="${folderDetails.name}"></span></title>
	</head>
	<body>
		<div>
			<h1 style="text-align: center;">File Explorer</h1>
			<h3>
				Path -> <span th:text="${folderDetails.path}"></span>
				\<span th:text="${folderDetails.name}"></span>
			</h3>
			<div style=" display: flex; flex-direction: row; justify-content: space-around;">
				<div style="padding: 10px; width: 30%; text-align: center;" th:each="folder: ${folderChildren}">
					<img th:if="${folder.type=='folder'}" th:src="@{/images/folder.png}" style="width: 100px; height: 100px;" />
					<a th:if="${folder.type=='folder'}" th:href="@{|/assignment/folder/${folder.id}|}" style="text-decoration: none;">
						<p th:text="${folder.name}" style="margin: 4px; font-size: 24px;"></p>
						<p style="margin: 1px"><span th:text="${folder.folders}"></span> Folders</p>
						<p style="margin: 1px"><span th:text="${folder.files}"></span> Files</p>
					</a>
					
					<img th:if="${folder.type=='file'}" th:src="@{/images/file.png}" style="width: 100px; height: 100px;" />
					<div th:if="${folder.type=='file'}" style="text-decoration: none;">
						<p th:text="${folder.name}" style="margin: 4px; font-size: 18px;"></p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
